.post__list,
.post__menu,
.post__menuItem,
.post__section,
.accordeon__list,
.accordeon__section {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.blog {
    padding-top: 50px;
    padding-bottom: 64px;
}

.post__bg,
.accordeon__bg,
.testimonials__bg {
    color: #23323a;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 30px;
}

.post__date-small {
    color: #23323a;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    line-height: 30px;
}

.post__date-blue {
    font-family: "Open Sans";
    color: #008fd5;
    font-size: 48px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 21px;
}

.post__img {
    margin-left: 18px;
}

.post__content {
    margin-left: 29px;
}

.post__menuItem {
    margin-right: 22px;
    margin-top: 0;
    margin-bottom: auto;
}

.post__menuItem a {

    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-decoration: none;
    margin-bottom: 13px;
    display: block;
    position: relative;
}

.post__menuItem-blue {
    color: #008fd5;
}

.post__menuItem-black {
    color: #23323a;
}

.post__menuItem a:hover,
.post__menuItem-blue:hover::before {
    color: #ec0b21;
}

.post__menuItem-black::before {
    content: url('../img/point.png');
    position: absolute;
    display: block;
    width: 3px;
    height: 3px;
    top: -2px;
}

.post__menuItem-blue::before {
    position: absolute;
    content: '\f054';
    display: block;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-size: 9px;
    font-weight: 600;
    color: #008fd5;
    opacity: 0.8;
    top: 1px;
    left: 54px;
}

.elemOne::before {
    left: 50px;
}

.elemTwo::before {
    left: 55px;
}

.elemThree::before {
    left: 65px;
}

.post__name {
    font-family: "Open Sans";
    font-weight: 400;
    color: #008fd5;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.5px;
}

.post__description {
    margin-bottom: 0;
    margin-top: 15px;
    font-family: "Open Sans";
    font-weight: 400;
    color: #73848e;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: -0.5px;
}

.post__date-small {
    position: relative;
}

.cameraImage::before {
    position: absolute;
    content: url('../img/camera.png');
    left: 18px;
    top: 40px;
}

.videoImage::before {
    position: absolute;
    content: url('../img/video.png');
    left: 18px;
    top: 40px;
}

.post__section:nth-child(2) {
    margin-top: 39px;
}

.accordeon__name {
    text-align: center;
    width: 231px;
    height: 43px;
    color: #008fd5;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    border: 1px solid #ebeef0;
    margin-bottom: 0;
}

.accordeon__flag {
    width: 41px;
    height: 43px;
    border: 1px solid #ebeef0;
    color: #008fd5;
    text-align: center;
    line-height: 40px;
}

.accordeon__content {
    padding-bottom: 22px;
    padding-top: 18px;
    width: 100%;
}

.accordeon {
    margin-left: 28px;
}

.accordeon__text {
    width: 100%;
    padding-left: 10px;
    color: #73848e;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: auto;
    letter-spacing: -0.5px;
}

.fa-plus,
.fa-minus {
    cursor: pointer;
}

.testimonials {
    padding-bottom: 37px;
    margin-left: 31px;
}

.client__info {
    width: 269px;
    background-color: #23323a;
    position: relative;
}

.client__info::before {
    position: absolute;
    content: '\f0d8';
    display: block;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-size: 30px;
    font-weight: 600;
    color: #23323a;
    top: 61px;
    left: 107px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.client__name {
    width: 99px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 23px;
    margin-left: 19px;
    margin-bottom: 0;
}

.client__company {
    width: 99px;
    color: #8cd9ff;
    font-family: "Open Sans Light";
    font-size: 10px;
    font-weight: 300;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 4px;
    margin-left: 19px;
    margin-bottom: 0;
}

.report {
    width: 149px;
    height: 171px;
    margin-left: 66px;
    margin-right: auto;
    margin-top: 29px;
    letter-spacing: -1px;
    position: relative;
}

.report__name {
    color: #008fd5;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.report__text {
    color: #45484a;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.report::before {
    position: absolute;
    content: '\f10d';
    color: #23323a;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-size: 29px;
    font-weight: 600;
    line-height: 5.15px;
    left: -48px;
    top: 15px;
}