.header {
    width: 100%;
}

.header__top {
    padding-top: 11px;
    padding-bottom: 16px;
}

.logo__bg {
    margin-bottom: 0;
    margin-left: 22px;
    padding-top: 15px;
    color: #0b2b33;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.header__bottom {
    padding-top: 25px;
    padding-bottom: 22px;
    background: rgba(3, 103, 142, 0.27);
}

.contact,
.contact__section,
.menu,
.menu__item {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.contact {
    margin-top: 15px;
    padding-left: 37px;
}

.contact__section {
    margin-left: 15px;
}

.contact__section:nth-child(1){
    margin-left: 0;
}


.contact__section span {
    color: #0b2b33;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    padding-right: 10px;
    border-right: 1px solid #0b2b33;
}

.contact__section a {
    color: #93a6b0;
    font-size: 16px;
}

.contact__section a:hover {
    text-decoration: none;
    color: #008fd5;
}

.menu__section {
    margin-right: 40px;
    position: relative;
}

.menu__section:nth-child(1)::after,
.menu__section:nth-child(2)::after,
.menu__section:nth-child(4)::after {
    left: 40px;
    top: 4px;
}

.menu__section:nth-child(3)::after {
    left: 52px;
    top: 4px;
}

.menu__section:nth-child(5)::after {
    left: 62px;
    top: 4px;
}

.menu__section:hover::after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #008fd5;
    cursor: pointer;
}

.menu__section p:hover {
    color: #008fd5;
    cursor: pointer;
}

.menu__section p {
    margin: 0;
    color: #23323a;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.search {
    color: #93a6b0;
    font-size: 16px;
    cursor: pointer;
    padding-left: 188px;
    position: relative;
}

.search__in {
    position: absolute;
    top: 46px;
    left: -115px;
    z-index: 2;
}

.search__in input {
    width: 269px;
    height: 72px;
    background-color: #ffffff;
    color: #73848e;
    font-family: "Open Sans";
    padding-left: 17px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    border: none;
}

.search__in button {
    width: 58px;
    height: 72px;
    background-color: #23323a;
    outline: none;
    border: none;
}

.search__in button::after {
    content: '';
    display: block;
    position: absolute;
    background: url('../img/search_angle.png');
    width: 58px;
    height: 72px;
    top: -17px;
    left: 269px;
}

.search__in button::before {
    content: '\f002';
    display: block;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    margin: 0 auto;
}